.card-container {
  background-color: white;
  min-width: 100px;
  max-width: 300px;
  height: auto;
  border-radius: 14px;
  box-shadow: 0px 10px 30px hsl(300, 41%, 87%);
}

.header_pool {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  background-image: url("./TalentPoolProfileCard.svg");
}

.img_telent {
  margin: auto;
  width: 100px;
  border: solid white 4px;
  border-radius: 50%;
  margin-top: 75px;
}

.bold-text {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  padding: 10px 20px 0px 20px;
}

.normal-text {
  font-weight: normal;
  font-size: 0.95rem;
  color: hsl(189, 7%, 21%);
  text-align: center;
  padding-bottom: 10px;
}

/* SOCIAL STATS */
.smaller-text {
  font-weight: normal;
  font-size: 0.7rem;
  color: hsl(0, 0%, 50%);
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 20px;
  line-height: 5px;
}

.social-container {
  display: flex;
  border-top: solid rgb(206, 206, 206) 2px;
  text-align: center;
}

.followers {
  flex: 1;
}

.likes {
  flex: 1;
}

.photos {
  flex: 1;
}
.talent_contact {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(99, 48, 96);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 14px;
}
.skill {
  padding: 0 30px;
  text-align: center;
  color: #888;
}
